{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Grocodile</title>
</head>
<body>
    <nav>
        <div class="container">
            <input id="responsive-menu" type="checkbox">
            <label for="responsive-menu">Grocodile<span id="menu-icon"></span></label>
            <div id="overlay"></div>
            <ul>
                {{if .}}
                <li><a href="/products">Products</a></li>
                <li><a href="/addProduct">Add product</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/discord">Discord</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/auth">Login</a></li>
                {{end}}
            </ul>
        </div>
    </nav>
{{end}}